<div ng-show="dm.musicList.length > 0" class="row">
    <div class="col-sm-3 text-center">Name</div>
    <div class="col-sm-2 text-center">User Name</div>
    <div class="col-sm-2 text-center">Time</div>
    <div class="col-sm-1 text-center">Listeners</div>
    <div class="col-sm-4 text-center">Url</div>
</div>
<music-details
    music-record="record"
    ng-repeat="record in musicList | filter: dm.greaterThan('listener_count', dm.filterOptions.minListener) | filter: dm.betweenDates('created_time', dm.filterOptions)"
    select-record="dm.selectRecord(selectedIndex)"
    selected-index="{{dm.selectedIndex}}"
    record-index="{{$index}}"></music-details>
