<div class="row">
    <div class="col-sm-6">
        <input ng-model="searchText" type="text" />
        <button type="button" class="btn btn-primary" ng-click="search(searchText)">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 title">Filters</div>
    <div class="col-sm-3">
        <p class="input-group">
            <label>From Date:&nbsp;</label>
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fromDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" ng-change="updateFromDateFilter(fromDate)" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="icon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-sm-3">
        <p class="input-group">
            <label>To Date:&nbsp;</label>
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toDate" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" ng-change="updateToDateFilter(toDate)" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="icon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-sm-3">
        <p class="input-group">
            <label>Minimum Lisener:&nbsp;</label>
            <input type="number" class="form-control" ng-model="minListener" ng-change="updateListenersFilter(minListener)" />
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <music-list
            music-list="musicList"
            selected-index="selectedIndex"
            filter-options="filterOptions"></music-list>
    </div>
    <div class="col-sm-2 cover-container"><img ng-src="{{musicList[selectedIndex].pictures.large}}" /></div>
</div>