<div class="row hand record-row"
    ng-click="selectRecord({selectedIndex: dm.recordIndex})"
    ng-class="{'selected': dm.selectedIndex === dm.recordIndex}"
    selectedindex="{{dm.selectedIndex}}"
    recordindex="{{dm.recordIndex}}">
        <div class="col-sm-3 record-col">{{dm.musicRecord.name}}</div>
        <div class="col-sm-2 record-col">{{dm.musicRecord.user.name}}</div>
        <div class="col-sm-2 record-col">{{dm.musicRecord.created_time}}</div>
        <div class="col-sm-1 record-col">{{dm.musicRecord.listener_count}}</div>
        <div class="col-sm-4 record-col">
            <a ng-href="{{dm.musicRecord.url}}" target="_blank">{{dm.myService.decode(dm.musicRecord.url)}}</a>
        </div>
</div>