*, :after, :before {
    box-sizing: border-box;
}

.container {
    max-width: 100%;;
}

.record-col {
    overflow: hidden;
}

img {
    width: 100%;
}

.hand {
    cursor: pointer;
    cursor: hand;
}

.selected {
    background-color: #d7ffdf;
}

.cover-container {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
}